header {
    padding: 30px;
    color: #fff;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav *:first-child, nav *:last-child {
    width: 300px;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 40px;
    /* or 100% */
    letter-spacing: 0.0882153px;
    color: #FFFFFF;
}