<header>
    <nav>
        <div></div>
        <h1>{{title}}</h1>
        <div class="buttons">
            <app-button *ngIf="isGameInProgress"
                [color]="colors.warning"
                text="Restart Game"
                (buttonClick)="restartGame()"
            ></app-button>
            <app-button *ngIf="!isGameDone"
                [color]="colors.error"
                text="Exit Game"
                (buttonClick)="exitGame()"
            ></app-button>
        </div>
    </nav>
</header>