
div.content {
    /* min-width: 814px;
    min-height: 591px; */

    /* background: linear-gradient(107.62deg, rgba(255, 255, 255, 0.6) -0.7%, rgba(255, 255, 255, 0.1) 102.18%); */
    /* box-shadow: 0px 1.77778px 1.77778px rgba(0, 0, 0, 0.05); */
    backdrop-filter: blur(22.2222px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 3.55556px;
    padding: 1em;
}

.heading {

    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 28px;
    width: 8em;
    /* identical to box height, or 46% */

    text-align: center;
    letter-spacing: 0.18px;

    color: #FFFFFF;
}

.players {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 2em;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    cursor: pointer;
    color: #FFFFFF;
    width: 7em !important;
    height: 3em;
    background: #0AB169;
    border: none;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: auto;
    margin-top: 1em;
}

.wrapper {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    /* width: 374px;
    height: 319px; */
}
.wrapper img {
    
    position: static;
    width: 6em;
    /* height: 222px; */


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 1em 0px;
}
.wrapper input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .8em 1em;

    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Wireframing / -40 */

    background: #F1F5F9;
    /* Wireframing / -30 */

    border: 1px solid #F1F5F9;
    box-sizing: border-box;
    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}
.wrapper input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* Wireframing / 30 */

    color: #1E293B;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 16px;
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .heading {
        font-size: 52px;
        width: auto;
    }
    div.content {
        min-width: 814px;
        min-height: 591px;
    }
    .players {
        flex-direction: row;
        width: 814px;
        margin: 4em 0;
    }
    .wrapper {
        width: 374px;
        height: 319px;
    }
    .wrapper img {
        height: 222px;
        width: 192px;
    }
}

@media  only screen and (min-width: 380px) {
    div.content {
        width: 38em;
        background: linear-gradient(107.62deg, rgba(255, 255, 255, 0.6) -0.7%, rgba(255, 255, 255, 0.1) 102.18%);
        padding: .5em;
    }
    .heading {
        font-size: 24px;
        /* font-size: 32px; */
        width: auto;
    }
    .players {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .wrapper {
        justify-content: space-between;
    }
    .btn {
        width: 165px !important;
        height: 36px;
        text-transform: uppercase;
    }
}
@media only screen and (min-width: 820px) {
    div.content {
        min-width: 814px;
        /* min-height: 591px; */
        background: none;
    }
    .heading { font-size: 32px; }
    .players { justify-content: space-between; }
    .wrapper {
        width: 374px;
        height: 319px;
        
    }
    .wrapper img {
        width: auto;
        margin-top: 3em;
    }
    .btn {
        width: 7em !important;
        height: 3em;
        text-transform: capitalize;
        margin-top: 3em;
    }
}