.wrapper {
    position: relative;
    margin: auto;
    padding: 28px;
    
    width: 220px;
    height: 344px;

    background: linear-gradient(
        160.65deg, 
        rgba(255, 255, 255, 0.6) 0.74%, 
        rgba(255, 255, 255, 0.1) 102.03%
    );
    border-radius: 8px;
}
.heading, .score {
    margin: auto;
    padding: 10px 0;
}
.heading {
    height: 36px;

    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: -0.02em;
    text-transform: capitalize;

    color: #FFFFFF;
}
.score {
    width: 125px;
    height: 42px;

    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    letter-spacing: -0.02em;
    text-transform: capitalize;

    color: #FFFFFF;

}

.toast {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 64px;

    background: #0AB169;
    border-radius: 8px;
}
.toast h3 {

    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    letter-spacing: -0.02em;
    text-transform: capitalize;

    /* Shades / 00 */

    color: #FFFFFF;
}