.wrapper {
    position: relative;
    margin: auto 1em;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    height: 3.5em;
    width: 9.5em;
    padding: 0;
    margin-top: -4.5em;

    background: linear-gradient(
        160.65deg, 
        rgba(255, 255, 255, 0.6) 0.74%, 
        rgba(255, 255, 255, 0.1) 102.03%
    );
    border-radius: 8px;
}
.wrapper img {
    width: 42px;
    height: 52px;
}
.heading, .score {
    /* margin: auto;
    padding: 10px 0; */
}
.heading {
    height: 36px;

    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: -0.02em;
    text-transform: capitalize;

    color: #FFFFFF;
}
.score {
    /* width: 125px; */
    /* height: 42px; */

    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */

    letter-spacing: -0.02em;
    text-transform: capitalize;

    color: #FFFFFF;

    /* width: 16px; */
    /* height: 24px; */
    font-size: 16px;
    line-height: 24px;

}
.score span {display: none;}

.toast {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    margin: auto;

    /* background: #0AB169; */
    border-radius: 8px;
    flex-direction: row;
    padding: 8px;
    width: 119px;
    height: 32px;
    background: #FFFFFF;
}
.toast h3 {

    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;

    letter-spacing: -0.02em;
    text-transform: capitalize;

    color: #FFFFFF;
    width: 103px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #489DDA;
}
.reverseFlex {
    flex-direction: row-reverse;
}

@media only screen and  (min-width: 380px) {
    /* .score span {display: block;} */
    .toast {
        position: static;
        margin: 0;
    }
    .wrapper {
        width: 354px;
        height: 64px;
        margin: 0;
    }
    .wrapper {
        margin-top: 0;
    }
}

@media only screen and (min-width: 820px) {
    .toast {
        position: absolute;
        bottom: -2.5em;
        margin: auto;
    }
    .wrapper {
        flex-direction: column;
        width: 12em;
        height: 18em;
    }
    .reverseFlex {
        flex-direction: column;
    }
    .wrapper img {
        width: auto;
        height: auto;
    }
    .heading {
        font-size: 24px;
    }
    .score span {display: inline;}
}